@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Open+Sans:wght@400;700&display=swap');

/* Custom styles */
@layer base {
  body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }

  * {
    box-sizing: border-box;
  }
}

@layer components {
  .container {
    @apply max-w-[1200px] mx-auto px-5;
  }

  button {
    @apply cursor-pointer border-none outline-none bg-purple-700 text-white rounded-none px-6 py-2 transition-colors duration-200;
  }

  button:hover, button:focus {
    @apply bg-purple-500;
  }

  a {
    @apply no-underline text-inherit;
  }
} 